### Importing libraries

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

### Reading the file

In [9]:
dataset = pd.read_csv('hiring.csv')

In [10]:
dataset.head(5)

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

### Feature Engineering

In [11]:
## NA values are filled with zero experience
dataset['experience'].fillna(0, inplace=True)

In [12]:
## NA values are filled with mean
dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [13]:
## Independent features
X = dataset.iloc[:,:3]

In [15]:
## Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8, 'nine':9, 'ten':10,
                 'eleven':11, 'twelve':12, 'zero':0, 0:0}
    return word_dict[word]

In [18]:
X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [19]:
y = dataset.iloc[:, -1]

#### Splitting Training and Test set
Since we have a very small dataset, we will train our model with all available data

In [20]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [21]:
## Fitting model with training data
regressor.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
## Save model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [23]:
## Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[2,9,6]]))

[53290.89255945]